[Unit]
Description=systemcheck job

[Service]
Type=oneshot
ExecStart=/bin/bash /var/saildrone/scripts/systemcheck.sh

[Install]
WantedBy=default.target
