[Unit]
Description=Run systemcheck using systemcheck.timer three minutes after start and then every four hours

[Service]
ExecStart=/var/saildrone/scripts/systemcheck.sh

[Install]
WantedBy=default.target
