[Unit]
Description=Run systemcheck using systemcheck.timer five minutes after start and then every four hours

[Service]
Type=oneshot
ExecStart=/var/saildrone/scripts/systemcheck.sh

[Install]
WantedBy=default.target
