[Unit]
Description=Run wifistatus using wifistatus.timer five and a half minutes after start and then every four hours

[Service]
ExecStart=/var/saildrone/scripts/wifistatus.sh

[Install]
WantedBy=default.target
